<section data-ng-controller="HomeController">
    <div class="page-header">
        <h2>System Component Estimator</h2>
    </div>
    <p>
        Provides a platform for the collection of estimates for adding, updating,
        and removing system components in development and test environments.
        Collect and report on time and cost estimates from multiple resources.
    </p>
    <br/>

    <div data-ng-show="!(authentication.user._id)" class="text-danger">
        <dl>
            <dt>
            <h2><i class="glyphicon glyphicon-lock"></i></h2>Access Denied</dt>
            <dd>
                To access estimates, you must <a href="/#!/signin">sign in</a> or <a
                    href="/#!/signup">sign up</a>.
                <br>
                <br>
            </dd>
        </dl>
    </div>
    <div data-ng-show="(authentication.user._id)">
        <dl>
            <dt>View Estimates</dt>
            <dd>
                <a href="/#!/estimates">List</a> all estimates. Click on an estimate
                in
                list to view the estimate details.
                <br>
                <br>
            </dd>
            <dt>View Estimate Details</dt>
            <dd>
                Click on an estimate in <a href="/#!/estimates">list of estimates</a>
                to
                view the estimate details.
                <br>
                <br>
            </dd>
            <dt>New Estimate</dt>
            <dd>
                <a href="/#!/estimates/create">Add</a> a new estimate.
                <br>
                <br>
            </dd>
            <dt>Update an Estimate</dt>
            <dd>
                Update an existing estimate. Access from the <a href="/#!/estimates">list
                of estimates</a>.
                <br>
                <br>
            </dd>
            <dt>View Reports</dt>
            <dd>
                View estimate summary reports.
                <br>
                <br>
            </dd>
        </dl>
    </div>
</section>