.content {
  margin-top: 50px;
}

a.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.main-area {
  border: 1px solid #ccc;
  padding-left:  18px;
  padding-right:  18px;
  padding-bottom:  18px;
  margin-bottom: 18px;
  margin-right: 18px;
}

.estimate-top {
  border: 1px solid #ccc;
  padding-left:  18px;
  padding-right:  18px;
  padding-bottom:  18px;
  margin-bottom: 18px;
  margin-right: 18px;
}