<section ng-controller="EstimatesController">
<div class="page-header">
  <h2>New Estimate</h2>
</div>
<form class="form-horizontal" ng-submit="create()">
<fieldset>
  <div class="col-md-7 main-area">
    <h3>Estimate</h3>
    <label class="control-label"
           for="estimateForm.application">Application</label>

    <div class="controls">
      <select class="form-control" ng-model="estimateForm.application"
              id="estimateForm.application"
              ng-options="application for application in formValues.applications"
              required></select>
    </div>
    <label class="control-label"
           for="estimateForm.environment">Environment</label>

    <div class="controls">
      <select class="form-control" ng-model="estimateForm.environment"
              id="estimateForm.environment"
              ng-options="environment for environment in formValues.environments"
              required></select>
    </div>
    <label class="control-label"
           for="estimateForm.type">Estimate Type</label>

    <div class="controls">
      <select class="form-control" ng-model="estimateForm.type"
              id="estimateForm.type"
              ng-options="type for type in formValues.types"
              required></select>
    </div>
    <label class="control-label"
           for="estimateForm.description">Description</label>

    <div class="controls">
      <input ng-model="estimateForm.description"
             id="estimateForm.description"
             class="form-control"
             placeholder="Description" required/>
    </div>
  </div>
  <div class="col-md-7 main-area">
    <h3>Resources</h3>

    <label class="control-label"
           for="resourceForm.department">Department</label>

    <div class="controls">
      <select class="form-control" ng-model="resourceForm.department"
              id="resourceForm.department"
              ng-options="department for department in formValues.departments"></select>
    </div>
    <label class="control-label"
           for="resourceForm.estimator">Estimator</label>

    <div class="controls">
      <input ng-model="resourceForm.estimator" id="resourceForm.estimator"
             class="form-control"
             placeholder="Estimator"/>
    </div>
    <label class="control-label"
           for="resourceForm.estimate">Estimate</label>

    <div class="input-prepend input-append">
      <input class="span2" ng-model="resourceForm.estimate"
             id="resourceForm.estimate" type="number" placeholder="0"/>
      <span class="add-on">hrs.</span>
    </div>

    <label class="control-label"
           for="resourceForm.description">Description</label>

    <div class="controls">
      <input ng-model="resourceForm.description"
             id="resourceForm.description"
             class="form-control"
             placeholder="Description"/>
    </div>
    <label class="control-label"
           for="resourceForm.notes">Notes</label>

    <div class="controls">
      <textarea ng-model="resourceForm.notes" id="resourceForm.notes"
                class="form-control" cols="30" rows="5"
                placeholder="Notes"></textarea>
    </div>
    <br/>

    <div class="controls">
      <button type="button" class="btn btn-primary btn-sm"
              ng-click="addToArray('resource')">Add Resource
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Resources Estimates</h4>
    <ol id="resourceList">
      <li ng-repeat="resource in resourceArray">
        <strong>Department:</strong> {{resource.department}}<br/>
        <strong>Estimator:</strong> {{resource.estimator}}<br/>
        <strong>Description:</strong> {{resource.description}}<br/>
        <strong>Estimate (hrs):</strong> {{resource.estimate}}<br/>
        <strong>Notes:</strong> {{resource.notes}}<br/>
        <button type="button" class="btn btn-danger btn-xs"
                ng-click="removeFromArray('resource', this.$index);">
          Remove
        </button>
        <br/>
        <br/>
      </li>
    </ol>
  </div>
  <div class="col-md-7 main-area">
    <h3>Infrastructure</h3>
    <label class="control-label"
           for="infrastructureForm.department">Department</label>

    <div class="controls">
      <select class="form-control" ng-model="infrastructureForm.department"
              id="infrastructureForm.department"
              ng-options="department for department in formValues.departments"></select>
    </div>
    <label class="control-label"
           for="infrastructureForm.estimator">Estimator</label>

    <div class="controls">
      <input ng-model="infrastructureForm.estimator"
             id="infrastructureForm.estimator"
             class="form-control"
             placeholder="Estimator"/>
    </div>
    <label class="control-label"
           for="infrastructureForm.estimate">Estimate</label>

    <div class="input-prepend input-append">
      <input class="span2" ng-model="infrastructureForm.estimate"
             id="infrastructureForm.estimate" type="number"
             placeholder="0">
      <span class="add-on">hrs.</span>
    </div>

    <label class="control-label"
           for="infrastructureForm.cost">Cost</label>

    <div class="input-prepend input-append">
      <span class="add-on">$</span>
      <input class="span2"
             ng-model="infrastructureForm.cost"
             id="infrastructureForm.cost"
             type="number" placeholder="0"/>
    </div>

    <label class="control-label"
           for="infrastructureForm.description">Description</label>

    <div class="controls">
      <input ng-model="infrastructureForm.description"
             id="infrastructureForm.description"
             class="form-control"
             placeholder="Description"/>
    </div>
    <label class="control-label"
           for="infrastructureForm.notes">Notes</label>

    <div class="controls">
      <textarea ng-model="infrastructureForm.notes"
                id="infrastructureForm.notes"
                class="form-control" cols="30" rows="5"
                placeholder="Notes"></textarea>
    </div>
    <br/>

    <div class="controls">
      <button type="button" class="btn btn-primary btn-sm"
              ng-click="addToArray('infrastructure')">Add Infrastructure
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Infrastructure Estimates</h4>
    <ol id="infrastructureList">
      <li ng-repeat="infrastructure in infrastructureArray">
        <strong>Department:</strong> {{infrastructure.department}}<br/>
        <strong>Estimator:</strong> {{infrastructure.estimator}}<br/>
        <strong>Description:</strong> {{infrastructure.description}}<br/>
        <strong>Estimate (hrs):</strong> {{infrastructure.estimate}}<br/>
        <strong>Cost ($):</strong> {{infrastructure.estimate}}<br/>
        <strong>Notes:</strong> {{infrastructure.notes}}<br/>
        <button type="button" class="btn btn-danger btn-xs"
                ng-click="removeFromArray('infrastructure', this.$index);">
          Remove
        </button>
        <br/>
        <br/>
      </li>
    </ol>
  </div>
  <div class="col-md-7"><br/>
    <input type="submit" class="btn btn-default">
  </div>
</fieldset>
</form>
</section>