<section data-ng-controller="EstimatesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>{{estimate.application}} ({{estimate.environment}})</h1>
  </div>

  <div class="pull-right"
       data-ng-show="authentication.user._id == estimate.user._id">
    <a class="btn btn-primary" href="/#!/estimates/{{estimate._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">Posted on {{estimate.created | date:'mediumDate'}} by
      {{estimate.user.displayName}}</em>
  </small>
  <p class="lead">
  <table class="table table-striped table-condensed table-bordered">
  <tr>
    <td><strong>Application</strong></td>
    <td>{{estimate.application}}</td>
  </tr>
    <tr>
      <td><strong>Environment</strong></td>
      <td>{{estimate.environment}}</td>
    </tr>
    <tr>
      <td><strong>Estimate Type</strong></td>
      <td>{{estimate.type}}</td>
    </tr>
    <tr>
      <td><strong>Description</strong></td>
      <td>{{estimate.description}}</td>
    </tr>
  </table>
  </p>
  <ul>
    <li ng-repeat="resources in estimate">
      {{resources[0].department.department}}<br/>
      {{resources[0].estimator}}<br/>
      {{resources[0].description}}<br/>
      {{resources[0].estimate}}<br/>
      {{resources[0].notes}}<br/>
    </li>
  </ul>
</section>