<section data-ng-controller="EstimatesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>{{estimate.application}} ({{estimate.environment}})</h1>
  </div>

  <div class="pull-right"
       data-ng-show="authentication.user._id == estimate.user._id">
    <a class="btn btn-primary" href="/#!/estimates/{{estimate._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">Created on {{estimate.created | date:'mediumDate'}} by
      {{estimate.user.displayName}}</em>
  </small>
  <p class="lead">
  <table class="table table-striped table-condensed table-bordered">
    <tr>
      <td><strong>Application</strong></td>
      <td>{{estimate.application}}</td>
    </tr>
    <tr>
      <td><strong>Environment</strong></td>
      <td>{{estimate.environment}}</td>
    </tr>
    <tr>
      <td><strong>Estimate Type</strong></td>
      <td>{{estimate.type}}</td>
    </tr>
    <tr>
      <td><strong>Description</strong></td>
      <td>{{estimate.description}}</td>
    </tr>
    <tr>
      <td><strong>Resources</strong></td>
      <td>
        <ul>
          <li ng-repeat="resource in estimate.resources">
            Department: {{resource.department}}<br/>
            Estimator: {{resource.estimator}}<br/>
            Description: {{resource.description}}<br/>
            Estimate (hrs): {{resource.estimate}}<br/>
            Notes: {{resource.notes}}<br/>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><strong>Infrastructure</strong></td>
      <td>
        <ul>
          <li ng-repeat="infrastructure in estimate.infrastructures">
            Department: {{infrastructure.department}}<br/>
            Estimator: {{infrastructure.estimator}}<br/>
            Description: {{infrastructure.description}}<br/>
            Estimate (hrs): {{infrastructure.estimate}}<br/>
            Cost ($): {{infrastructure.estimate}}<br/>
            Notes: {{infrastructure.notes}}<br/>
          </li>
        </ul>
      </td>
    </tr>
  </table>
  </p>
</section>